<p>personaje works!</p>

<div class="row">
    
</div>
<div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://i.pinimg.com/564x/1c/7e/0f/1c7e0f3a3e2f3b6e2d6e4f6f4c8e4f6f.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://i.pinimg.com/564x/1c/7e/0f/1c7e0f3a3e2f3b6e2d6e4f6f4c8e4f6f.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://i.pinimg.com/564x/1c/7e/0f/1c7e0f3a3e2f3b6e2d6e4f6f4c8e4f6f.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <

</div>